@charset "UTF-8";
@media screen and (max-width:414px) {
    
    .pesquisa{
        width: 102%;
     
    
    }


    .container2 {
        height: 79vh;
    }

    .containerSP {
        background-color: #F2F2F2;

}
