*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-color: #F0F2F5;
}



.contrainer{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    

    
}

.card{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    justify-content: center;
    background-color: #FFFFFF;
    justify-content: center; 
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 10px;
    border: #DDDFE2 solid 1px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 0px;

}


.centro{
    margin-left: 80px;
    margin-right: 80px;
}


.item{
   margin: 3.5px;
   padding-left: 50px ;
   padding-right: 50px ;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 3px;
   border: #DDDFE2 solid 1px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
   
}

.esqueceu{
    border-bottom: #DDDFE2  solid 1px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #1877F2;
}

.criar{
    padding: 10px;
    margin: 20px;
    background-color: #36A420;
    border: none;
    color: white;
    border-radius: 3px;
    margin-left: 60px;
    margin-right: 60px ;
    
    
}
.img{
    height: 106px;
    margin: -28px;
   margin-bottom: 1px;
   margin-top: 2px;
    
}

.imgpai{
    display: flex;
    flex-direction: column;
    
}

.p1{
    text-align: center;
    padding-bottom: 15px;
    font-size: 24px;
    
}

.p2{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.entrar{
    background-color: #166FE5;
    margin: 3.5px;
    padding-left: 50px ;
    padding-right: 50px ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    color: white;
    border: none;
}

.esquerda{
 
}